.offer {
  width: 100%;
}
.offer__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 48px 20px;
  background-color: @bg-second-color;
}
.offer__items {
  .offer__intro;
  background-color: @bg-color;
}
.offer__title {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  color: @text-color;
  text-align: center;
  margin: 0;
  span {
    font-style: normal;
  }
}
.offer__title-margin {
  .offer__title;
  margin: 48px 0;
}
.offer__paragraph {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: @text-color;
  width: 70%;
}

@media only screen and (min-width: 600px) {
  .offer__intro,
  .offer__items {
    padding: 48px 100px;
  }
  .offer__paragraph {
    width: 50%;
  }
}
