html {
  scroll-behavior: smooth;
}
body {
  background-color: @bg-color;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.app {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1440px) 1fr;
}
.container {
  grid-column: 2;
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
  padding: 0 20px;
}

@media only screen and (min-width: 600px) {
  .main {
    padding: 0 100px;
  }
}
